{% extends 'layouts/application.html' %}

<head>
{% block contactform_bootstrap %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}
</head>

{% block contact_form %}
  <section id="main">
      <div class="container center_div">
        <div class="contact_title">
        <h1>WE WOULD LOVE TO HEAR FROM YOU!</h1>
          <div class="pattern-bg">        
            <form class="needs-validation" novalidate>
              <div class="form-row">
                <div class="col-sm-6 col-sm-offset-6">
                  <input type="text" class="form-control" id="validationCustom01" placeholder="Your first name" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                      We need your last name.
                  </div>
                </div>
                <div class="col-sm-6 col-sm-offset-6">
                  <input type="text" class="form-control" id="validationCustom02" placeholder="Your last name" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    We need your last name.
                  </div>
                </div>
              </div>
              </br>

              <div class="form-row">
                  <div class="col-sm-6 col-sm-offset-6">
                  <input type="email" class="form-control" id="validationCustom03" placeholder="Your email address" required>
                  <div class="invalid-feedback">
                    Please use a valid e-mail address.
                  </div>
                </div>
                <div class="col-sm-6 col-sm-offset-6">
                  <input type="text" class="form-control" id="validationCustom04" placeholder="Your phone number (optional)">
                </div>
              </div> </br>

              <div class="form-row">
                <div class="col-sm-12">
                  <div class="textarea-message form-group">
                    <textarea id="message" class="textarea-message form-control" placeholder="Your Message..." rows="5" required></textarea>
                      <div class="invalid-feedback">
                        Sorry, your message can't be empty.
                      </div>
                  </div>
                </div> 
              </div>

              <div class="text-center">      
                <button type="submit" class="button button-submit">Submit</button>
              </div>    
          </form>
  </section>
{% endblock %}

{% block javascript %}
  <script>function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
          x.className += " responsive";
      } else {
          x.className = "topnav";
      }
  }</script>

  <script>
      // if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
      </script>
{%endblock%}