$color1: #000000;
$color2: #FD5454;
$color3: #7BDB4C;
$color4: #789199;
$color5: #555D60;
$color6: #8E8E8E;

$font-family: 'Lato', sans-serif;
$font-weight-light:	300;
$font-weight-regular:	400;
$font-weight-bold: 600;

body {
  font-family: 'Lato', sans-serif;
}


